
* {
    box-sizing: border-box;
    font-family: "ubuntu", sans-serif;
}

:root {
    --blue: #003366;
    --white: #eef1f7;
    --gray: #fff;
    --black1: #222;
    --black2: #999;
}

body {
    min-height: 100vh;
    overflow-x: hidden;

}

.container {
    position: relative;
    width: 100%;
}

/* =============== Navigation ================ */

.title{
    font-weight: bolder;
    font-size: 1.5em;
}
.navigation {
    position: fixed;
    width: 250px;
    height: 100%;
    background: var(--blue);
    transition: 0.5s;
    padding-top: 20px;
}

.navigation ul {
    width: 100%;
    list-style-type: none;
    padding: 0;
    height: 100%;
}

.navigation ul li {
    list-style: none;
}

.logo-item a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--white);
    padding-left: 20px;
    height: 80px;
}

.logo-item img {
    min-width: 60px;
    height: 60px;
    margin-right: 10px;
}

.navigation ul li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--white);
    padding: 0 30px;
    height: 60px;
}

.navigation ul li:hover:not(.logo-item) a {
    background-color: var(--white);
    color: var(--blue);
    font-size: 18px;
}

.divider, .separator {
    border-bottom: 2px solid white;
    width: 80%;
    margin: 10px 20px;
}

.fin {
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
    padding: 0;
}

.fin a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 30px;
    height: 60px;
}

/* ===================== Main ===================== */
.main {
    position: absolute;
    width: calc(100% - 250px);
    left: 250px;
    min-height: 100vh;
    background: var(--white);
    transition: 0.5s;
}

.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
    color: var(--blue);
    background: var(--white);
}

.topbar h1 {
    font-size: 2.5em;
    padding: 0 20px;
    font-weight: bold;
}

.user {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.user img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*Graficas*/

.chartsBx {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.chart {
    flex: 1;
    max-width: 48%;
    background-color: var(--gray);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chart canvas {
    width: 100%;
    height: 300px;
}


/* ===================== Cards ===================== */
.cardBox {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
}

.card {
    background: var(--gray);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card .numbers {
    font-size: 2em;
    font-weight: bold;
}

.card .cardName {
    font-size: 1em;
    color: var(--black2);
}

.iconBx {
    font-size: 3em;
}
.cardBox .card:hover {
    background: var(--blue);
  }
  .cardBox .card:hover .numbers,
.cardBox .card:hover .cardName,
.cardBox .card:hover .iconBx {
  color: var(--white);
}

/* ===================== Table ===================== */
.details {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    padding: 20px;
}

.details .recentOrders, .details .recentCustomers {
    background: var(--gray);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.cardHeader h2 {
    font-size: 1.2em;
    color: var(--black1);
}

.cardHeader .btn {
    padding: 10px 20px;
    background: var(--blue);
    color: var(--white);
    border-radius: 6px;
    text-decoration: none;
    font-size: 0.9em;
}

/* ===================== Tables ===================== */
table {
    width: 100%;
    border-collapse: collapse;
}

table thead {
    background: var(--gray);
}

table thead tr td {
    font-weight: bold;
    padding: 10px;
    text-align: left;
}

table tbody tr td {
    padding: 10px;
    color: var(--black2);
}

table tbody tr td .status {
    padding: 5px 10px;
    border-radius: 6px;
    font-size: 0.9em;
}

.status.delivered {
    background: #c8e6c9;
    color: #388e3c;
}

.status.pending {
    background: #ffe0b2;
    color: #f57c00;
}

.status.return {
    background: #ffccbc;
    color: #d32f2f;
}

.status.inProgress {
    background: #bbdefb;
    color: #1976d2;
}

/* ===================== Clientes ===================== */
.details .recentCustomers table {
    width: 100%;
    border-collapse: collapse;
}

.details .recentCustomers table tr {
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.details .recentCustomers table tr td {
    padding-left: 10px;
}

.imgBx img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

h4 {
    margin-left: 10px;
}

/* ====================== Responsive ========================== */
@media (max-width: 991px) {
    .chartsBx{
      grid-template-columns: 1fr;
      height: auto;
    }
  
    .navigation {
      left: -300px;
    }
    .navigation.active {
      width: 300px;
      left: 0;
    }
    .main {
      width: 100%;
      left: 0;
    }
    .main.active {
      left: 300px;
    }
    .cardBox {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 768px) {
    .details {
      grid-template-columns: 1fr;
    }
    .recentOrders {
      overflow-x: auto;
    }
    .status.inProgress {
      white-space: nowrap;
    }
  }
  
  @media (max-width: 480px) {
    .cardBox {
      grid-template-columns: repeat(1, 1fr);
    }
    .cardHeader h2 {
      font-size: 20px;
    }
    .user {
      min-width: 40px;
    }
    .navigation {
      width: 100%;
      left: -100%;
      z-index: 1000;
    }
    .navigation.active {
      width: 100%;
      left: 0;
    }
    .toggle {
      z-index: 10001;
    }
    .main.active .toggle {
      color: #fff;
      position: fixed;
      right: 0;
      left: initial;
    }
}